<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.jcala.xmarket">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true"
        tools:ignore="UnusedAttribute"
        android:largeHeap="true">
        <activity
            android:name=".mvp.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.user.login.LoginRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.user.login.register.next.RegisterNextActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.trade.add.TradeAddActivity"
            android:label="添加商品"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.user.trade.UserTradeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        ' <activity
        android:name=".mvp.team.trade.TeamTradeActivity"
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.team.add.TeamAddActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.trade.detail.TradeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.sort.trades.TradeTagDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme_Light.White"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.White"/>
        <service android:name=".mvp.message.MessageService">
            <intent-filter>
                <action android:name="me.jcala.xmarket.mvp.message.MessageService"/>
            </intent-filter>
        </service>
        <!-- 注册广播 -->
        <receiver android:name=".util.BroadUtils">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>